<div class="card mx-auto" style='width:400px'>
    <div class="card-header">
        <h1 class="text-center">Login</h1>
    </div>
    <div class="card-body">
    <form action="/login" method="POST" >
        <div class="input-group mb-2">
             <input type="text" class="form-control" name='usuario' placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
        <div class="input-group">
             <input type="password" class="form-control"  name='passwords' placeholder="Contraseñia" aria-label="Username" aria-describedby="basic-addon1" required>
        </div>
    <button class="btn btn-outline-success  btn-block mt-2">Ingresar</button>
    </form>
    {{#if info}}
    <p style="color: red;">{{info}}</p>
    {{/if}}

    </div>
</div>
